body{
    font-family: 'Domine', serif;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
}

p{
    font-weight: 900;
    font-size: 14px;
}

span{
    color: seagreen;
}
.font-design{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
    font-weight:900;
    font-style: italic;
}

.first-border{
    border-left:4px solid;
    border-color: green;
    border-radius: 2px;
    padding-left: 10px;
}

.half-width{
    width:50%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.half-width img{
    padding-top: 5%;
    width: 80%;
}

.flexible{
    display: flex;
}

.link-button{
    text-decoration: none;
    background-color: rgb(1, 1, 44);
    color: oldlace;
    padding: 8px 20px;
    border-radius: 4px;
    font-weight: 900;
}

.text-design-first{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    font-family: fantasy;
}

.text-design-second{
    font-size: 30px;
    font-weight: 300;
    font-family: fantasy;
}

.small-width{
    width: 20%;
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(202, 231, 245);
    border-radius: 5px;
}
.small-width img{
    width: 50%;
}

.background-section3{
    background-image: url(images/shapes/shape-7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:550px 500px;
}

